{% load static %}
<html>

<head>
    <meta charset="UTH-8">
    <title>EnglishTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../../static/english_test_app/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="textcenter">
            <h1 class="pagetitle">English Test {{ joueur.nom }}, meilleur score : {{ partie.score }} verbes</h1>
            <br />
            <a href="/english_test_app/">Déconnexion</a>
            <br />
            {% if questions %}
            <form method="post" action="jeu" class="center">
                {% csrf_token %}
                <table>
                    <tr>
                        <td colspan="3" style="text-align: center">Question {{ nbr }} : Le verbe {{ verbe.baseVerbal }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>preterit</p>
                            <input name="preterit" type="text" />
                        </td>
                        <td>
                            <p>participe_passe</p>
                            <input name="participe_passe" type="text" />
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Envoyer" />
            </form>
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>

